<div class="left">
    <div class="overview">
        <div class="title">柜体概况</div>
        <img class="view" src="" alt="">
        <div class="size">
            <p>尺寸 (m)：<span v-text="cabinet.size"></span></p>
            <p>体积(m³)：<span v-text="cabinet.volume"></span></p>
        </div>
        <p class="gray">
            环境要求<span class="alert_info" v-show="data_error">{{msg}}</span>
            <!-- 错误按钮 丢弃修改-->
            <b v-show="in_edit" @click="cancel_edit" class="cancel_icon" data-title="放弃修改"></b>
            <!-- 编辑按钮 可转换为对钩确认 -->
            <b :class="{'submit':in_edit&&!data_error,'error':in_edit&&data_error}" @click="edit_threshold" :data-title="msg" v-show="!isEmpty"></b>
        </p>
        <ul class="surround">
            <li v-for="(key,item) in threshold_list" v-if="key!='no' && key!='type' && item" v-bind:class="key">
                <div v-show="!in_edit">
                    <p v-if="key==('temperature'||key=='humidity')">
                        {{parseFloat(item.min).toFixed(2)}} ~ {{parseFloat(item.max).toFixed(2)}} {{threshold_list[key].unit}}
                    </p>
                    <p v-else>
                        &le; {{parseFloat(item.max).toFixed(2)}} {{item.unit}}
                    </p>
                </div>
                <div v-if="clone_obj[key]" v-show="in_edit">
                    <div v-if="key=='temperature'||key=='humidity'">
                         <input type="text" v-model="clone_obj[key].min" @propertychange="validation(key)" @input="validation(key)"/> ~ <input type="text" v-model="clone_obj[key].max" @propertychange="validation(key)" @input="validation(key)"/> {{clone_obj[key].unit}}
                    </div>
                    <div v-else>
                        &le; <input type="text" v-model="clone_obj[key].max" @propertychange="validation(key)" @input="validation(key)"/> {{clone_obj[key].unit}}
                    </div>
                </div>
            </li>
        </ul>
        <p class="gray police">
            <span class="damaged">玻破报警</span>
            <span class="shock">震动报警</span>
        </p>
    </div>


<div class="relic_equip one">
    <div class="title">同柜文物</div>
    <form>
        <div class="parent_box">
            <input type="text" placeholder="请输入你要查找的设备" @click.stop="" @keydown.enter.stop.prevent="search('relic')" v-model="relic_searchTxt">
            <i class="icon iconfont" @click.stop="show($event)">&#xe614;</i>
        </div>
        <div class="parent_box">
            <div class="filter" style="width:150px;">
                <div class="font">材质
                    <ul>
                        <li v-for="name in relic.material" v-text="name" @click.stop="addChooce('material',name)" track-by="$index"></li>
                    </ul>
                </div>
                <div class="font">年代
                    <ul>
                        <li v-for="name in relic.age" v-text="name" @click.stop="addChooce('age',name)" track-by="$index"></li>
                    </ul>
                </div>
                <div class="font">类别
                    <ul>
                        <li v-for="name in relic.category" v-text="name" @click.stop="addChooce('category',name)" track-by="$index"></li>
                    </ul>
                </div>
            </div>
            <i class="icon iconfont" @click.stop="show($event)">&#xe650;</i>
        </div>
    </form>
    <p class="fliter_box">
        <template v-for="(type,val) in relic_condition" track-by="$index">
            <span v-for="name in val" v-text="name" @click="removeChooce(type,name)" track-by="$index"></span>
        </template>
    </p>
    <div class="relic_menu">
        <a v-for="item in relic_list" href="../relic?relic_no={{item.relic_no}}" :data-title="item.name" v-text="item.name" track-by="$index"></a>
    </div>
    <div class="drag"></div>
    <div class="shadow"></div>
</div>
<div class="relic_equip two">
    <div class="title">同柜设备<font class="totle"></font></div>
    <form>
        <div class="parent_box">
            <input type="text" placeholder="请输入你要查找的设备" @click.stop="" @keydown.enter.stop.prevent="search('equip')" v-model="equip_searchTxt">
            <i class="icon iconfont" @click.stop="show($event)">&#xe614;</i>
        </div>
        <div class="parent_box">
            <div class="filter" style="width:120px;">
                <div class="font">传感器
                    <ul>
                        <li v-for="name in equip.sensor" v-text="name" @click.stop="addChooce('sensor',name)" track-by="$index"></li>
                    </ul>
                </div>
                <div class="font">调控器
                    <ul>
                        <li v-for="name in equip.controller" v-text="name" @click.stop="addChooce('controller',name)" track-by="$index"></li>
                    </ul>
                </div>
            </div>
            <i class="icon iconfont" @click.stop="show($event)">&#xe650;</i>
        </div>
    </form>
    <p class="fliter_box">
        <template v-for="(type,val) in equip_condition" track-by="$index">
            <span v-for="name in val" v-text="name" @click="removeChooce(type,name)" track-by="$index"></span>
        </template>
    </p>
    <div class="equip_menu">
        <h4>调控器</h4>
        <a v-for="item in controller" href="../equip?equip_no={{item.equip_no}}" :data-title="item.name" v-text="item.name" track-by="$index"></a>
    </div>
    <div class="equip_menu sensor">
        <h4>传感器</h4>
        <a v-for="item in sensor" href="../equip?equip_no={{item.equip_no}}" :data-title="item.name" v-text="item.name" track-by="$index"></a>
    </div>

    <div class="position">
        <div class="title">展柜位置图</div>
        <div class="shadow"></div>
    </div>

    <div class="roomView">
        <div class="title">展柜内部位置图</div>
        <div class="barnar"></div>
        <i class="iconfont leftNav">&#xe732;</i>
        <i class="iconfont rightNav">&#xe731;</i>
    </div>
</div>
</div>