<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.relics.api.mapper.BaseConfigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.museum.relics.api.entity.BaseConfig">
		<id column="id" property="id" />
		<result column="key" property="key" />
		<result column="val" property="val" />
		<result column="group" property="group" />
		<result column="input_type" property="inputType" />
		<result column="sort" property="sort" />
	</resultMap>

</mapper>
