.environmental_monitoring{
	font-size: 12px;
	color:#6a707f;
	font-family: "微软雅黑";
	min-width: 1044px;
}
.environmental_monitoring .noPointer li:hover{
    color: #282a33;
    cursor: auto;
}
.header .diy{
	border: 0;
	margin-top: 11px;
}
.header .diy input{
	border-radius: 6px;
    border: 1px solid #c5c9ce;
    padding-left: 6px;
    /*height: 28px;*/
    color: #6a7393;
}

.widthLimit{
	width: 80px;
	margin: auto;
}
.widthLimit span{
	float: none !important;
}
.widthLimit span i{
    margin-top: 12px;
}
.environmental_monitoring .header{
	padding-right: 16px;
}
.header .diy{
    display: block !important;
    margin-top: 9px;
    margin-left: 0;
    padding: 0 2px;
    float: right;
}
.header .ability div{
    text-align: center;
    display: inline-block;
    padding: 0 14px;
}
.dragImg{
    display: inline-block;
    width: 18px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 3px;
    background: url(../../capsule/images/environment_icon.png) no-repeat 1px -72px;
    cursor: pointer !important;
}
.ability>div:hover .dragImg{
	background-position-x: -16px;
}
.environmental_monitoring .diy .button{
	display: none;
}
.environmental_monitoring .header .laydate-icon{
	position: relative;
    top: 1px;
}

.tableBox{
	margin-top: 7px;
    box-shadow: -1px 1px 3px 1px #ccc;
    border-radius: 10px;
    background: #fff;
    padding: 9px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.environmental_monitoring .table{
    border: 0 !important;
    border-collapse: collapse;
}
.environmental_monitoring .table thead td{
	font-size: 14px;
	color: #282a33;
}
.environmental_monitoring .table thead td:first-child{
	background-position-y: -81px;
}
.environmental_monitoring .table thead td:first-child.active{
	background-position-y: -164px;
}
.environmental_monitoring .table tr{
    height: 52px;
    line-height: 52px;
    border-top: 1px solid #fff;
}
.environmental_monitoring .table tr.楼栋{
	background: #CBCBCB;
}
.environmental_monitoring .table tr.楼层{
	background: #DDDDDD;
}
.environmental_monitoring .table tr.展厅{
	background: #f0f0f0;
}
.environmental_monitoring .table tr.展柜{
	background: #fff;
}
.environmental_monitoring .table tr.active{
	background: #45c7ad;
}
.environmental_monitoring .table tr.active .environment_icon{
	background-position-x: -17px;
} 
.environmental_monitoring .table tr.active td{
	color: #FFFFFF;
}
.environmental_monitoring .table tr.楼栋 .name__{
	font-size: 16px;
}
.function {
    height: 52px;
    line-height: 52px;
}
.environmental_monitoring .table tr.楼层 .name__{
	font-size: 14px;
}
.environmental_monitoring .table tr.activeWhere{
	background: #45c7ad;
}
.environmental_monitoring ._content tbody td:first-child{
	background: url('../../capsule/images/environment_icon.png') no-repeat -1px -116px;
}
.environmental_monitoring ._content td:first-child.active{
	background-position-y: -170px;
}
.function span[class*=search]{
    width: 26px;
    height: 24px;
    /*放大镜图标位移*/
    /*margin-top: 4px;*/
    margin-top: 14px;
    margin-right:5px;
    z-index: 1;
}
.function .searchKey{
    background: url(../../capsule/images/allImg.png) no-repeat 0 -3px;
	position: relative;
	float: left;
}
.floatL{
	float: left;
}
/*.copy .function .searchKey{*/
    /*z-index: 9;*/
/*}*/
.function .hidden_function{
	display: none;	    
}
/*.table.copy{*/
    /*position: fixed;*/
    /*top: 159px;*/
    /*left: 118px;*/
    /*z-index: 1;*/
    /*height: 50px;*/
/*}*/
.tableBox_shadow{
    height: 9px;
    position: fixed;
    top: 150px;
    background: #fff;
    z-index: 2;
    display: none;
}
td.name__{
	text-align: left;
	cursor: pointer;
    background-color: inherit;
}
.table._content.oneTable td{
    background-color: inherit;
}
td.name__ p.clear{
    float: left;
    height: 52px;
}
td.name__ p{
	max-width:195px;
}
td.name__ span{
    float: left;
    width: 14px;
    height: 16px;
    margin-right: 16px;
    transition: all 0.3s;
}
td.name__ span.active{
	transform: rotate(90deg);
}
.table .environment_icon{
    background: url(../../capsule/images/environment_icon.png) no-repeat 0 -14px;
    position: relative;
    top: 19px;
    left: 5px;
}
.table tr.楼层 .environment_icon{
    background-position-y: -35px;
}
.table tr.展厅 .environment_icon{
	background-position-y: -53px;
}
.table tr.展柜{
    border-bottom: 1px solid #e7e8ea;
}
.spanShow span{
    width: 62px;
    height: 31px;
    display: inline-block;
    line-height: 31px;
    cursor: pointer;
}
.spanShow span{
    color: #6a707f;
    border: 1px solid #c5c9ce;
    margin-left: -1px;
    height: 29px;
    position: relative;
    top: 1px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.spanShow span.active{
    background: #8189a0;
    color: #fff;
}
.spanShow span.allWheae{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.spanShow span.selected{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.hidden_function input{
    height: 30px;
    padding-left: 30px;
    position: relative;
    left: -30px;
    border-radius: 8px;
    border: 1px solid #ccc;
    line-height: normal;
}
.hidden_function .operation{
	display: block;
}
.spanShow.active .hidden_function{
	display: block;
}
.spanShow.active .spanWrap{
	display: none;
}
.hidden_function .operation li:last-child{
	text-align: left;	
}

#searchUl li.active{
	color: #4fc6aa;
}

/*时间控件样式*/
.timePicker{
    box-sizing: border-box !important;
}
.timePicker *{
    box-sizing: border-box !important;
}

/*add*/
.environmental_monitoring .table tr.展厅 .environment_icon{
    left:50px;
}
.environmental_monitoring .table tr.展厅 .ellipsis{
    text-indent: 3rem;
}
.environmental_monitoring .table tr.楼层 .environment_icon{
    left: 20px;
}
.environmental_monitoring .table tr.楼层 .ellipsis{
    text-indent: 1.5rem;
}
.environmental_monitoring .table tr.展柜 .ellipsis{
    text-indent: 4.5rem;
}

/*导出报告*/
.report_name{
    margin-bottom: 5px;
    margin-top: 3px;
    display: inline-block;
    font-weight: 600;
}

.table._content.oneTable .tableCenter{
    padding:0;
    text-align: center;
}

/*  table*/
.table{
    border: 1px solid #ced3d7;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    background: #ffffff;
    margin-top:10px;
}
.table td{
    color: #6a707f;
    font-size: 12px;
    position: relative;
    border: 0;
}
.table td .arrow{
    position: absolute;
    width: 30px;
    right: 10px;
    top: 17px;
}
.table thead tr{
    height: 44px;
    background: #d4eae9;
}
.statusTd{
    width: 81px;
}
.newData{
    width: 200px;
}
.hiddenContent{
    color: #7f8282;
}
._content thead td:first-child{
    background-position: center -79px;
}
.table thead td:first-child.active{
    background-position:center -168px;
}
.table._content.equipContentTh thead tr td span{
    margin-top:0;
}
/*thead td font{*/
    /*background: url('../images/equip_small.png') no-repeat -15px -11px;*/
    /*width: 13px;*/
    /*height: 10px;*/
    /*display: inline-block;*/
    /*margin-top: 7px;*/
/*}*/
._content td:first-child{
	width: 68px;
	background: url('../../capsule/images/equip_small.png') no-repeat center -86px;
	cursor: pointer;
}
._content thead td:first-child{
    background: url('../../capsule/images/equip_small.png') no-repeat center -85px;
}
.table td:first-child.active{
	background-position: center -169px;
}
thead td:first-child.active{
	background-position: center -162px;
}

thead td:not(:first-child)>span{
    /*cursor: pointer;*/
    font-size: 14px;
    color: #282a33;
}
thead td:last-child>span{
    padding-right: 0;
    cursor: auto;
    border-right: 0;
}
.table tbody tr{
    height: 40px;
}
._content tr:nth-child(even) {
    background: #f3fbf9;
}

.change-transition{
    transition:all .3s;
    opacity: 1;
    min-height: 130px;
}
.change-enter,.change-leave{
    opacity:0;
    height: 0;
}
.assessment_report .ivu-modal-footer{
    display: none;
}