<template id="newPlan">
    <div class="moduleContainer newPlan">
        <header>
            <div @click="goBack" class="topTitle">
                <Icon type="chevron-left"></Icon>发起盘点
            </div>
            <div class="filterWrap">
                <filter-component type="relic_manage"></filter-component>
            </div>
            <div class="topFunction">
                <i-button type="ghost" @click="okHandler">确认发起</i-button>
            </div>
        </header>
        <div class="tableWrap">
            <table>
                <thead>
                <tr>
                    <th>
                        计划名称
                    </th>
                    <!--<th>-->
                        <!--计划ID-->
                    <!--</th>-->
                    <th>
                        盘点件数
                    </th>
                    <th>
                        发起人
                    </th>
                    <th>
                        执行人
                    </th>
                    <th>
                        要求完成时间
                    </th>
                    <th>
                        备注
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <i-input placeholder="输入计划名称" :value.sync="planInfo.name"></i-input>
                    </td>
                    <!--<td>-->
                        <!--计划ID-->
                    <!--</td>-->
                    <td>
                        {{selRelics.length}}
                    </td>
                    <td>
                        {{planInfo.initiatorUsername}}
                        <!--<i-select :model.sync="planInfo.initiatorUsername" placeholder="选择发起人" style="width:200px;">-->
                            <!--<i-option value="超级管理员" v-if="isAdmin">超级管理员</i-option>-->
                            <!--<i-option v-for="user in userList" v-if="user.realName" :value="user.realName">{{user.realName}}</i-option>-->
                        <!--</i-select>-->
                    </td>
                    <td>
                        <i-select :model.sync="planInfo.operatorUsername" placeholder="选择执行人" style="width:200px;">
                            <i-option value="超级管理员" v-if="isAdmin">超级管理员</i-option>
                            <i-option v-for="user in userList" :value="user.realName||user.username">{{user.realName||user.username}}</i-option>
                        </i-select>
                    </td>
                    <td>
                        <Date-picker
                                type="datetime"
                                placeholder="要求完成时间"
                                style="width: 200px;margin:0 auto;"
                                :value.sync="time"
                                :options="dateOpt"
                                @on-change="changeTime"
                                :editable="false"
                                :clearable="false"
                                @on-clear="clearTime"
                                @on-ok="okTime"
                        >
                        </Date-picker>
                    </td>
                    <td>
                        <i-input placeholder="备注" :value.sync="planInfo.remark"></i-input>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <section>
            <!--<cultural-relics @new-data="resetOption" :relic_filter="relic_filter" :hide_filter="hideFilter"></cultural-relics>-->
            <div class="relicTableContainer">
                <div class="relic_pic" v-show="big_img_status" @mouseleave="hide_big_img">
                    <!--<p>这里显示文物图片</p>-->
                    <img :src="img_src" :alt="img_src"/>
                </div>
                <div class="nav_pic" v-show="big_nav_status" @mouseleave="hide_big_nav" @mouseenter="in_big_nav">
                    <!--<p>这里显示地理位置信息</p>-->
                    <div class="view">
                        <div class="point" :data-title="nav_name"></div>
                        <img :src="nav_map" alt="图片无法显示" :width="nav_width" :height="nav_height" id="nav_map"/>
                    </div>
                </div>
                <!--显示表格数据-->
                <section class="tableWrap" style="top:10px;">
                    <table>
                        <thead>
                        <tr>
                            <th width="4%">
                                <!--:indeterminate="true" 部分选中状态-->
                                <input type="checkbox" v-model="allStatus" @click="changeStatus"/>
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                藏品名称
                            </th>
                            <th>
                                总登记号
                            </th>
                            <th>
                                材质
                            </th>
                            <th>
                                类型
                            </th>
                            <th>
                                等级
                            </th>
                            <th>
                                年代
                            </th>
                            <th>
                                位置
                            </th>
                            <th>
                                最新数据
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr v-for="n in limit">-->
                            <!--<td width="4%">-->
                                <!--&lt;!&ndash;:indeterminate="true" 部分选中状态&ndash;&gt;-->
                                <!--<input type="checkbox"/>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--状态-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--藏品名称{{n}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--总登记号-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--材质-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--类型-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--等级-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--年代-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--位置-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--最新数据-->
                            <!--</td>-->
                        <!--</tr>-->
                        <tr v-for="relic in tableData">
                            <td>
                                <!--:checked="selRelics.indexOf(relic.relic_no)!=-1"-->
                                <input type="checkbox" v-if="relic&&relic.relicNo" :value="relic.relicNo" v-model="selRelics" @click="changeRelic(relic.relicNo)" />
                            </td>
                            <td>
                                <!--{no_need_repair:relic.status=='不需修复'||relic.status=='无需修复',need_repair:relic.status=='需要修复',need_repair_asap:relic.status=='亟需修复'||relic.status=='亟待修复',in:relic.status=='展出'||relic.status=='修复中'||relic.status=='修复'||relic.status=='研究中'||relic.status=='研究'||relic.status=='已归还',out:relic.status=='借出'||relic.status=='借入'}-->
                                <span class="relic_status_item" :class="relic.status">{{relic.status||'无状态信息'}}</span>
                            </td>
                            <td class="left relic_name_no" style="position: relative;">
                                <p style="cursor: pointer;padding-left: 30px" @click="jumpDetails(relic.relic_no)">
                                    <img v-if="relic.image" style="vertical-align: middle;margin-right:5px;" :src="relic.image" :alt="" @mouseenter.stop="show_big_img($event,relic.image)" @mouseleave="hide_big_img"/><span class="relic_name">{{relic.name}}</span>
                                </p>
                            </td>
                            <td>
                                {{relic.relicId||''}}
                                <!--{{relic.relicNo||''}}-->
                            </td>
                            <td>
                                {{relic.material}}
                            </td>
                            <td>
                                {{relic.category}}
                            </td>
                            <td>
                                {{relic.level}}
                            </td>
                            <td>
                                {{relic.age}}
                            </td>
                            <td class="left">
                                <!--@click="goEnvDetail(relic.parent_env_no)"位置图不提供跳转功能-->
                                <p style="position: relative;padding-left: 25px;">
                                    <span v-if="relic.map&&relic.locate" class="nav_icon" @mouseenter.stop="show_big_nav($event,relic.map,relic.locate,relic)" @mouseleave="hide_big_nav"></span>
                                    {{nav_info(relic.nav)||'暂无位置信息'}}
                                </p>
                            </td>
                            <td>
                                <!--{{relic.new_data}}-->
                                <span v-if="relic.new_data&&relic.new_data.temperature">温度:{{relic.new_data.temperature}}</span>
                                <span v-if="relic.new_data&&relic.new_data.humidity">湿度:{{relic.new_data.humidity}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!--显示分页页码-->
                <footer>
                    <page-list @turn-page="turnPage" :page.sync="page" :allPage="allPage" :count.sync="count"></page-list>
                </footer>
                <div class="loading" v-show="tableLoading"></div>
            </div>
        </section>
    </div>
</template>