<!DOCTYPE html>
<html>
<head>
    <title>丢失断帧数据/多余数据</title>
    <meta charset='utf-8'>
    <link href="easyui/themes/default/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="easyui/themes/icon.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>

    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
</head>

<body>

<table id='sensorgrid'></table>


<script type="text/javascript">

    $('#sensorgrid').datagrid({
//        title: 'all socket data',
        url: 'sensor/lostSocket',
        singleSelect: true,
        rownumbers: true,
        pagination: true,
        pagePosition: 'top',
//        fitColumns: true,
        fit: true,
        pageSize: 50,
		pageList:[10,15,20,25,30,40,50,100,150,200,300,500,1000,2000,5000,6000],
        columns: [
            [
                {
                    field: 'server_time', width: 150, title: '丢失时间',
                    formatter: function (value, row, index) {
                        return new Date(value * 1000).Format('yyyy-MM-dd hh:mm:ss');
                    }
                },
                {
                    field: 'ip_port', width: 200, title: 'Ip_Port'
                },
                {
                    field: 'raw_data', title: '接收到的数据',
                    formatter: function (value, row, index) {
                        if (value) {
                            return value.replace(/(.{2})/g, "$1 ");
                        }
                    }
                }
            ]
        ],
        onLoadSuccess: function () {

        }
    });

</script>
</body>
</html>