<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台参数设置</title>
  <link rel="stylesheet" href="../common/css/left.css?v=2.2.05_P001" />
  <link rel="stylesheet" href="../js/iview/iview.css?v=2.2.05_P001" />
  <link rel="stylesheet" href="../common/css/header.css?v=2.2.05_P001" />
  <link rel="stylesheet" href="param_setting.css?v=2.2.05_P001" />
</head>
<body>
<div id="app" v-cloak>
    <div id="header" v-cloak>

    <a class="logo" href="../capsule">
        <div v-text="web_config.app_name"></div>
    </a>

    <div class="right_top_box">


        <header-down v-ref:down></header-down>

        <div class="warning_logo">
            <Badge :count="all_num" overflow-count="99">
                    <img src="../common/images/warning_logo.png" width="24" height="24" alt="" @click="warningList" />
            </Badge>
        </div>

        <!--<div class="feedback">-->
            <!--<a href="http://wpa.qq.com/msgrd?v=3&uin=3356346419&site=qq&menu=yes" target="_blank"></a>-->
        <!--</div>-->

        <!--<div class="user_logo">-->
            <!--<img src="../common/images/man.png">-->

        <!--</div>-->

        <div class="user_drop">
            <Dropdown placement="bottom-end">
                <div class="user_name" v-text="web_config.user.real_name"></div>
                <Dropdown-menu slot="list">

                    <Dropdown placement="left-start" class="hide">
                        <Dropdown-item class="view">
                            切换视图
                        </Dropdown-item>
                        <Dropdown-menu slot="list">
                            <Dropdown-item>地图视图</Dropdown-item>
                            <Dropdown-item>数据视图</Dropdown-item>
                            <Dropdown-item>工作视图</Dropdown-item>
                        </Dropdown-menu>
                    </Dropdown>
                    <Dropdown-item class="user_set hide">账户设置</Dropdown-item>
                    <Dropdown-item class="system_set hide">系统设置</Dropdown-item>
                    <Dropdown-item class="help hide">帮助中心</Dropdown-item>
                    <Dropdown-item class="paramSetting" @click="paramSetting">平台参数设置</Dropdown-item>
                    <Dropdown-item class="user_set permissionHidden" @click="userManagement(user)"
                                   v-permission="{name:'用户管理'}">用户管理
                    </Dropdown-item>
                    <Dropdown placement="left-start">
                        <Dropdown-item class="view">
                            切换语言
                        </Dropdown-item>
                        <Dropdown-menu slot="list">
                            <Dropdown-item @click="change_language('chinese')">汉语</Dropdown-item>
                            <Dropdown-item @click="change_language('tibetan')">藏语</Dropdown-item>
                            <Dropdown-item @click="change_language('english')">英语</Dropdown-item>
                        </Dropdown-menu>
                    </Dropdown>
                    <Dropdown-item class="logout" @click.stop="exit">退出登录</Dropdown-item>

                </Dropdown-menu>
            </Dropdown>
        </div>
    </div>
</div>

<template id="header_down">
    <div class="equip_down" >

        <Dropdown trigger="custom" :visible="show_list_key">
            <Badge :count="downLoadingLen">
                <img src="../common/images/loading_img.png" alt="下载loading" @click.stop="show_list">
            </Badge>
            <!--<i class="loadingNumber" v-text="downLoadingLen"></i>-->
            <Dropdown-menu slot="list" style="width: 350px;">
                <li class="loading_div" v-for="(index,item) in downLoadList">
                    <div class="singleDown" :classno="item.noClass">
                        <i :class="item.down_status"></i>
                        <Poptip trigger="hover" :content="item.file_name">
                            <span v-text="item.file_name"></span>
                        </Poptip>
                        <Icon v-show="item.url" type="ios-download-outline" @click.stop="down_file(item.url)"
                              class="download_file" data-title="下载文件" size="24"></Icon>
                        <i class="reloading" @click.stop="re_down(item.msg_id)"
                           v-show="item.down_status === 'singleDown_reloading'"></i>
                        <i class="singleDown_clear" @click.stop="del_down(item.msg_id)"></i>
                    </div>
                </li>

            </Dropdown-menu>
        </Dropdown>

        <Progress :percent="45" :stroke-width="5" status="active" v-show="downLoadingLen" hide-info></Progress>

    </div>

</template>
<script type="text/javascript" src="../js/mod.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/socket.io.min.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/underscore-min.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/vue.min.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/iview/iview.min.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/tooltip.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/store2.min.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../common/socket.io.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../common/permission.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../js/vue-router.min.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../common/header.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="../common/left.js?v=2.2.05_P001" ></script>
<script type="text/javascript" src="param_setting.js?v=2.2.05_P001" ></script>
<script type="text/javascript">
    Vue.component('header-down', {
        template: '#header_down',
        data: function () {
            return {
                show_loading_key: true,//是否显示下载
                show_list_key: false,//是否显示下拉列表
                downLoadList: {},//设备下载传输数据
            }
        },
        computed: {
            downLoadListLength: function () {
                return _.size(this.downLoadList);
            },
            downLoadingLen: function () {
                var _len = 0;
                for (var i in this.downLoadList) {
                    if (this.downLoadList[i].down_status === 'singleDown_status_change') {
                        ++_len;
                    }
                }
                return _len;
            }
        },
        ready: function () {
            var _this = this;
            _this.downLoadList = my_store('downloadEquipData') || {};
            if (_this.downLoadListLength) {
                _this.show_loading_key = true;
            }
            //下载完成后的通知
            window.socket.on("downEquipDataEnd", function (json) {
                console.log(json);
                setTimeout(function () {
                    if (_this.downLoadList[json.msg_id]) {
                        window.socket.emit("downEquipDataAck", json);//确认收到消息
                        _this.end_down(json);//下载完成
                    }
                }, 0);
            });

            window.new_down = _this.new_down;//新建下载队列

        },
        methods: {
            show_list: function () {
                // console.log(this.downLoadingLen)
                // if(!this.downLoadingLen){//当下载数据为0时，不执行下载
                //     return
                // }
                this.show_list_key = !this.show_list_key;
            },
            re_down: function (msg_id) {//重新下载
                var _this = this;
                if (!msg_id || !_this.downLoadList[msg_id]) {
                    return;
                }
                setTimeout(function () {
                    _this.new_down(_this.downLoadList[msg_id]);
                }, 0);
            },
            del_down: function (item_id) {//删除某个下载任务
                console.log('del_down', item_id);
                var _this = this;
                var _list = my_store('downloadEquipData') || {};
                delete _list[item_id];
                _this.downLoadList = _list;
                my_store('downloadEquipData', _this.downLoadList);

                if (_this.downLoadListLength === 0) {
                    _this.show_loading_key = false;
                    _this.show_list_key = false;
                }
            },
            down_file: function (url) {//下载文件
                if (url) {
                    window.location.href = ('/2.2.05_P001/base_api' + url.slice(1));
                }
            },
            new_down: function (msg) {//新建下载任务
                var _this = this;
                msg.msg_id = msg.msg_id || 'down_' + new Date().getTime() + '_' + Math.random();
                msg.down_status = 'singleDown_status_change';
                msg.access_token = window.web_config.token;
                var _list = my_store('downloadEquipData') || {};
                _list[msg.msg_id] = msg;
                _this.downLoadList = _list;
                my_store('downloadEquipData', _this.downLoadList);
                _this.show_loading_key = true;
                window.socket.emit('downEquipData', msg);

            },
            end_down: function (json) {//下载队列完成
                var _this = this;
                if (!json.result) {
                    _this.$Message.error('下载失败');
                }
                var _list = my_store('downloadEquipData') || {};
                _list[json.msg_id].down_status = json.result ? 'singleDown_status' : 'singleDown_reloading';
                if (json.url) {
                    _list[json.msg_id].url = json.url;
                }
                _this.downLoadList = _list;
                my_store('downloadEquipData', _list);
                setTimeout(function () {
                    _this.show_list_key = true;
                    if (json.result && json.url) {
                        var url = json.url.slice(1);
                        var a = window.open('/2.2.05_P001/base_api' + url);
                        console.log(a);
                    }
                }, 200);
            }
        },
        events: {
            hideOverlay: function () {
                if (this.show_loading_key) {
                    this.show_loading_key = false;
                }
            }
        }
    });
</script>



    <div id="left">
    <ul>
    	<li class="integrated permissionHidden" v-permission="{name:'综合管理'}">
			<a href="../capsule/#!/integrated">
				<span></span>
				<span v-text="language.left_integrated"></span>
			</a>
		</li>
		<li class="capsule permissionHidden"  v-if="capsule=='1'" v-permission="{name:'智能囊匣'}">
			<a href="../capsule/#!capsule">
				<span></span>
				智能囊匣
			</a>
		</li>
		<li class="monitoring permissionHidden" v-permission="{name:'环境监控'}">
			<a href="../capsule/#!/environment">
				<span></span>
				<span v-text="language.left_environmentalMonitor"></span>
			</a>
		</li>
		<li class="vibration permissionHidden" v-if="vibration=='1'" v-permission="{name:'震动监测'}">
            <a href="../vibration">
                <span></span>
                震动监测
            </a>
        </li>
		<li class="relic_ permissionHidden" v-permission="{name:'文物管理'}">
			<a href="../capsule/#!/relic">
				<span></span>
				<span v-text="language.left_relicManagement"></span>
			</a>
		</li>
		<li class="equipment permissionHidden" v-permission="{name:'设备管理'}">
			<a href="../equipManage">
				<span></span>
				<span v-text="language.left_equipManagement"></span>
			</a>
		</li>
    </ul>
</div>

    <left></left>
    <div class="contentContainer">
        <header class="containerTitle">
            <p @click="goBack">
                <Icon type="chevron-left"></Icon>
                平台参数设置
            </p>
            <span :class="['_btn','saveBtn',{_disabled:save_disabled}]" @click="saveHandler">
                保存
            </span>
        </header>
        <section class="mainContent">
            <div class="loading"></div>
            <div class="panelWrap">
                <div class="_panel">
                    <header>
                        <h3 class="_panelTitle">
                            <span class="_panelTitleBorder"></span>
                            名称、编号与地址
                        </h3>
                    </header>
                    <table class="_form">
                        <tbody>
                        <tr class="_formItem">
                            <td class="_label">
                                系统名称
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('app_name')"  @blur="checkData('app_name',configObj.app_name)" v-model="configObj.app_name" :class="['_input',{_error:status.app_name}]" placeholder="请填写系统名称">
                            </td>
                            <td :class="['_message',{_error:status.app_name}]">
                                <p v-show="currTitle==='app_name'||status.app_name">填写系统名称</p>
                            </td>
                        </tr>

                        <tr class="_formItem">
                            <td class="_label">
                                博物馆名称
                            </td>
                            <td class="_inputWrap">
                                <input type="text"  @focus="toggleTitle('museum_name')"  @blur="checkData('museum_name',configObj.museum_name)" v-model="configObj.museum_name" :class="['_input',{_error:status.museum_name}]" placeholder="请填写博物馆名称">
                            </td>
                            <td :class="['_message',{_error:status.museum_name}]">
                                <p v-show="currTitle==='museum_name'||status.museum_name">填写博物馆名称,可使用缩写</p>
                            </td>
                        </tr>

                        <tr class="_formItem">
                            <td class="_label">
                                博物馆编号
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('museum_no')" v-model="configObj.museum_no" :disabled="configObj.museum_no" :class="['_input',{_error:status.museum_no}]" placeholder="请填写博物馆编号" @blur="checkData('museum_no',configObj.museum_no)">
                            </td>
                            <td :class="['_message',{_error:status.museum_no}]">
                                <p v-show="currTitle==='museum_no'||status.museum_no">填写博物馆编号后不可更改,限定8位数字</p>
                            </td>
                        </tr>

                        <tr class="_formItem">
                            <td class="_label">
                                所属区域中心编号
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('region_no')" v-model="configObj.region_no" :disabled="configObj.region_no" :class="['_input',{_error:status.region_no}]" placeholder="请填写所属区域中心编号" @blur="checkData('region_no',configObj.region_no)">
                            </td>
                            <td :class="['_message',{_error:status.region_no}]">
                                <p v-show="currTitle==='region_no'||status.region_no">填写所属区域中心编号后不可更改，R+限定8位数字  </p>
                            </td>
                        </tr>

                        <tr class="_formItem">
                            <td class="_label">
                                消息通讯地址
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('monitor_port')" @blur="checkData('monitor_port',configObj.monitor_port)" v-model="configObj.monitor_port" :class="['_input',{_error:status.monitor_port}]" placeholder="请填写消息通讯地址">
                            </td>
                            <td :class="['_message',{_error:status.monitor_port}]">
                                <p v-show="currTitle==='monitor_port'||status.monitor_port">填写消息通讯地址</p>
                            </td>
                        </tr>

                        <tr class="_formItem">
                            <td class="_label">
                                APP服务器地址
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('app_port')" @blur="checkData('app_port',configObj.app_port)" v-model="configObj.app_port" :class="['_input',{_error:status.app_port}]" placeholder="请填写APP服务器地址">
                            </td>
                            <td :class="['_message',{_error:status.app_port}]">
                                <p v-show="currTitle==='app_port'||status.app_port">填写APP服务器地址</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="_panel">
                    <header>
                        <h3 class="_panelTitle">
                            <span class="_panelTitleBorder"></span>
                            数据上传及展示
                        </h3>
                    </header>
                    <table class="_form">
                        <tbody>
                        <tr class="_formItem">
                            <td class="_label">
                                设备自动录入
                            </td>
                            <td class="_inputWrap">
                                <Switch :checked="configObj.auto_insert_equip==='1'" @on-change="changeStatus('auto_insert_equip')" @mouseenter="toggleTitle('auto_insert_equip')" @mouseleave="toggleTitle">
                                    <span slot="open">开</span>
                                    <span slot="close">关</span>
                                </Switch>
                            </td>
                            <td :class="['_message']">
                                <p v-show="currTitle==='auto_insert_equip'">设备连入系统后，数据是否自动进入数据库设备列表中 </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="_form">
                        <tbody>
                        <tr class="_formItem">
                            <td class="_label">
                                数据最小时间间隔 (s)
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('data_minimum_time_interval')" v-model="configObj.data_minimum_time_interval" :class="['_input',{_error:status.data_minimum_time_interval}]" placeholder="取值范围：0~1800s，0为不限制插入间隔" @blur="checkData('data_minimum_time_interval',configObj.data_minimum_time_interval)">
                            </td>
                            <td :class="['_message',{_error:status.data_minimum_time_interval}]">
                                <p v-show="currTitle==='data_minimum_time_interval'||status.data_minimum_time_interval">系统在一个最小采集时间间隔内的数据只存储1组数据，0~1800s，0为不限制插入间隔，默认60s </p>
                            </td>
                        </tr>
                        <tr class="_formItem">
                            <td class="_label">
                                时间轴统一间隔 (s)
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('monitor_time')" v-model="configObj.monitor_time" :class="['_input',{_error:status.monitor_time}]" placeholder="取值范围：0~1800s，0为不限制插入间隔" @blur="checkData('monitor_time',configObj.monitor_time)">
                            </td>
                            <td :class="['_message',{_error:status.monitor_time}]">
                                <p v-show="currTitle==='monitor_time'||status.monitor_time">系统统一数据时间轴的间隔，0~1800s，0为不设置统一间隔时间，默认900s </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="_panel">
                    <header>
                        <h3 class="_panelTitle">
                            <span class="_panelTitleBorder"></span>
                            数据异常判定
                        </h3>
                    </header>
                    <table class="_form">
                        <tbody>
                        <tr class="_formItem">
                            <td class="_label">
                                传输时间超时判定倍数
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('max_acquisition_time_interval')" v-model="configObj.max_acquisition_time_interval" :class="['_input',{_error:status.max_acquisition_time_interval}]" placeholder="请输入倍数" @blur="checkData('max_acquisition_time_interval',configObj.max_acquisition_time_interval)">
                            </td>
                            <td :class="['_message',{_error:status.max_acquisition_time_interval}]">
                                <p v-show="currTitle==='max_acquisition_time_interval'||status.max_acquisition_time_interval">系统允许的最大数据采集时间间隔，n（倍数） x 设备数据采集间隔，0不限制间隔</p>
                            </td>
                        </tr>
                        <tr class="_formItem">
                            <td class="_label">
                                采集时间超时判定倍数
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('max_transmission_time_interval')" v-model="configObj.max_transmission_time_interval" :class="['_input',{_error:status.max_transmission_time_interval}]" placeholder="请输入倍数" @blur="checkData('max_transmission_time_interval',configObj.max_transmission_time_interval)">
                            </td>
                            <td :class="['_message',{_error:status.max_transmission_time_interval}]">
                                <p v-show="currTitle==='max_transmission_time_interval'||status.max_transmission_time_interval">系统允许的最大数据传输时间间隔，n（倍数） x 设备数据采集间隔，0不限制间隔</p>
                            </td>
                        </tr>
                        <tr class="_formItem">
                            <td class="_label">
                                数据突变界限
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('data_mutation_bounds')" v-model="configObj.data_mutation_bounds" :class="['_input',{_error:status.data_mutation_bounds}]" placeholder="请输入数据突变界限" @blur="checkData('data_mutation_bounds',configObj.data_mutation_bounds)">
                            </td>
                            <td :class="['_message',{_error:status.data_mutation_bounds}]">
                                <p v-show="currTitle==='data_mutation_bounds'||status.data_mutation_bounds">采集数据与前次数据之差大于数据突变界限倍的昨日极值差时，将进行数据突变报警，1~10，默认2 </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="_panel">
                    <header>
                        <h3 class="_panelTitle">
                            <span class="_panelTitleBorder"></span>
                            气象站
                        </h3>
                    </header>
                    <table class="_form">
                        <tbody>
                        <tr class="_formItem">
                            <td class="_label">
                                所在城市
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('city')" @blur="checkData('city',configObj.city)" v-model="configObj.city" :class="['_input',{_error:status.city}]" placeholder="请输入博物馆所在的城市">
                                <!--<select v-model="city" :class="['_input',{_error:false}]">-->
                                    <!--<optgroup v-for="province in allProvinces" :label="province.Name">-->
                                        <!--<option v-for="city in province.Citys" :value="city.Name">{{city.Name}}</option>-->
                                    <!--</optgroup>-->
                                <!--</select>-->
                                <i class="_icon _city">

                                </i>
                            </td>
                            <td :class="['_message',{_error:status.city}]">
                                <p v-show="currTitle==='city'||status.city">输入博物馆所在的城市</p>
                            </td>
                        </tr>
                        <tr class="_formItem">
                            <td class="_label">
                                气象信息 API_Key
                            </td>
                            <td class="_inputWrap">
                                <input type="text" @focus="toggleTitle('weather_key')" @blur="checkData('weather_key',configObj.weather_key)" v-model="configObj.weather_key" :class="['_input',{_error:status.weather_key}]" placeholder="请输入API_Key">
                            </td>
                            <td :class="['_message',{_error:status.weather_key}]">
                                <p v-show="currTitle==='weather_key'||status.weather_key">填写博物馆气象信息的API_Key</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="_panel">
                    <header>
                        <h3 class="_panelTitle">
                            <span class="_panelTitleBorder"></span>
                            实时报警设置
                        </h3>
                        <table class="_form">
                            <tbody>
                                <tr class="_formItem">
                                    <td class="_label">
                                        网页消息实时报警
                                    </td>
                                    <td class="_inputWrap">
                                        <Switch @on-change="changeStatus('web_msg')" @mouseenter="toggleTitle('web_msg')" @mouseleave="toggleTitle" class="warning_switch" :checked="configObj.web_msg=='1'" >
                                            <span slot="open">开</span>
                                            <span slot="close">关</span>
                                        </Switch>
                                        <div class="warning_selectbox" v-show="configObj.web_msg==='1'"  >
                                            <i-select :model.sync="webModel" placeholder="网页消息实时报警"   filterable multiple >
                                                <i-option v-for="item in webUser" :value="item.id" >{{ item.real_name }}</i-option>
                                            </i-select>
                                        </div>
                                        <span :class="['_message']" v-show="currTitle==='web_msg'" class="warning_font">网页消息实时报警开关，打开将会发送网页消息给选定用户</span>
                                    </td>
                                </tr>
                                <tr class="_formItem">
                                    <td class="_label">
                                        邮件实时报警
                                    </td>
                                    <td class="_inputWrap">
                                        <Switch @on-change="changeStatus('email_msg')" @mouseenter="toggleTitle('email_msg')" @mouseleave="toggleTitle" class="warning_switch" :checked="configObj.email_msg=='1'">
                                            <span slot="open">开</span>
                                            <span slot="close">关</span>
                                        </Switch>
                                        <div class="warning_selectbox" v-show="configObj.email_msg=='1'"  >
                                            <i-select :model.sync="emailModel" placeholder="邮件实时报警"  filterable multiple >
                                                <i-option v-for="item in emailUser" :value="item.id" :disabled="email_disabled(item.email)">{{ item.real_name }}</i-option>
                                            </i-select>
                                        </div>
                                        <row class="warning_date" v-show="configObj.email_msg=='1'">
                                            <i-col span="12">
                                                <Time-picker format="HH:mm" type="timerange" placement="bottom-end" placeholder="选择时间" :value.sync="emailTimeModel" style="width: 168px" :disabled="configObj.email_msg=='0'" @on-change="emailTime"></Time-picker>
                                            </i-col>
                                        </row>
                                        <span :class="['_message']" v-show="currTitle==='email_msg'" class="warning_font">邮件实时报警开关，打开将会发送邮件</span>
                                    </td>
                                </tr>
                                <tr class="_formItem">
                                    <td class="_label">
                                        短信实时报警
                                    </td>
                                    <td class="_inputWrap">
                                        <Switch @on-change="changeStatus('phone_msg')" @mouseenter="toggleTitle('phone_msg')" @mouseleave="toggleTitle" class="warning_switch" :checked="configObj.phone_msg=='1'">
                                            <span slot="open">开</span>
                                            <span slot="close">关</span>
                                        </Switch>
                                        <div class="warning_selectbox" v-show="configObj.phone_msg=='1'" >
                                            <i-select :model.sync="msgModel"  placeholder="短信实时报警"  filterable multiple >
                                                <i-option v-for="item in msgUser" :value="item.id" :disabled="msg_disabled(item.tel)">{{ item.real_name }}</i-option>
                                            </i-select>
                                        </div>
                                        <row v-show="configObj.phone_msg=='1'" class="warning_date">
                                            <i-col span="12">
                                                <Time-picker format="HH:mm" type="timerange" placement="bottom-end" placeholder="选择时间" :value.sync="msgTimeModel" style="width: 168px" :disabled="configObj.phone_msg=='0'" @on-change="msgTime"></Time-picker>
                                            </i-col>
                                        </row>
                                        <span :class="['_message']" v-show="currTitle==='phone_msg'" class="warning_font">短信实时报警开关，打开将会发送短信</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </header>
                </div>
                <div class="_panel">
                    <header>
                        <h3 class="_panelTitle">
                            <span class="_panelTitleBorder"></span>
                            拓展功能开关
                        </h3>
                        <table class="_form" style="width: 100%;">
                            <tbody>
                                <tr class="_formItem">
                                    <td class="_label">
                                        小型气象站
                                    </td>
                                    <td class="_inputWrap">
                                        <Switch :checked="configObj.small_weather==='1'" @on-change="changeStatus('small_weather')" @mouseenter="toggleTitle('small_weather')" @mouseleave="toggleTitle" :class="{warning_switch:true, change_line_switch:configObj.small_weather==='1'}">
                                            <span slot="open">开</span>
                                            <span slot="close">关</span>
                                        </Switch>
                                        <div style="float: left;">
                                            <p style="float: left;margin-left: 10px;" v-show="configObj.small_weather==='1'">CO<sub>2</sub>:</p>
                                            <div class="warning_selectbox" v-show="configObj.small_weather==='1'" >
                                                <i-select :model.sync="carbonModel" placeholder="二氧化碳监测终端"    >
                                                    <i-option v-for="item in carbon" :value="item.equip_no" >{{ item.name }}</i-option>
                                                </i-select>
                                            </div>
                                            <p style="float: left;margin-left: 10px;" v-show="configObj.small_weather==='1'">SO<sub>2</sub>:</p>
                                            <div class="warning_selectbox" v-show="configObj.small_weather==='1'" >
                                                <i-select :model.sync="sulfurModel" placeholder="二氧化硫监测终端"    >
                                                    <i-option v-for="item in sulfur" :value="item.equip_no" >{{ item.name }}</i-option>
                                                </i-select>
                                            </div>
                                            <br class="changeLine" v-show="configObj.small_weather==='1'" />
                                            <p style="float: left;margin-left: 10px;" v-show="configObj.small_weather==='1'">NO<sub>x</sub>:</p>
                                            <div class="warning_selectbox" v-show="configObj.small_weather==='1'" >
                                                <i-select :model.sync="nitrogenModel" placeholder="氮氧化物监测终端"    >
                                                    <i-option v-for="item in nitrogen" :value="item.equip_no" >{{ item.name }}</i-option>
                                                </i-select>
                                            </div>
                                            <p style="float: left;margin-left: 10px;" v-show="configObj.small_weather==='1'" class="param_o">O<sub>3</sub>:</p>
                                            <div class="warning_selectbox" v-show="configObj.small_weather==='1'" >
                                                <i-select :model.sync="ozoneModel" placeholder="臭氧监测终端"    >
                                                    <i-option v-for="item in ozone" :value="item.equip_no" >{{ item.name }}</i-option>
                                                </i-select>
                                            </div>
                                            <span :class="['_message']" v-show="currTitle==='small_weather'" class="warning_font">拓展功能开关，打开之后激活小型气象站相关功能</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="_formItem">
                                    <td class="_label">
                                        震动版块
                                    </td>
                                    <td class="_inputWrap">
                                        <Switch :checked="configObj.vibration==='1'" @on-change="changeStatus('vibration')" @mouseenter="toggleTitle('vibration')" @mouseleave="toggleTitle">
                                            <span slot="open">开</span>
                                            <span slot="close">关</span>
                                        </Switch>
                                        <span :class="['_message']" v-show="currTitle==='vibration'">拓展功能开关，打开之后激活震动监测相关功能  </span>
                                    </td>
                                </tr>
                                <tr class="_formItem">
                                    <td class="_label">
                                        囊匣版块
                                    </td>
                                    <td class="_inputWrap">
                                        <Switch :checked="configObj.capsule==='1'" @on-change="changeStatus('capsule')" @mouseenter="toggleTitle('capsule')" @mouseleave="toggleTitle">
                                            <span slot="open">开</span>
                                            <span slot="close">关</span>
                                        </Switch>
                                        <span :class="['_message']" v-show="currTitle==='capsule'">拓展功能开关，打开之后激活囊匣监测相关功能  </span>
                                    </td>
                                </tr>
                                <tr class="_formItem">
                                    <td class="_label">
                                        元智接入版块
                                    </td>
                                    <td class="_inputWrap">
                                        <Switch :checked="configObj.yuanzhi==='1'" @on-change="changeStatus('yuanzhi')" @mouseenter="toggleTitle('yuanzhi')" @mouseleave="toggleTitle">
                                            <span slot="open">开</span>
                                            <span slot="close">关</span>
                                        </Switch>
                                        <span :class="['_message']" v-show="currTitle==='yuanzhi'">拓展功能开关，打开之后激活元智接入相关功能  </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </header>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    require('paramSetting/param_setting');
</script>
</body>
</html>