<template id="equip_template">
    <send-down v-if="send_down_key" :send_down_key.sync="send_down_key" :sel_equip_no_list.sync="sel_equip_no_list" :tree-data="filterContent"></send-down>
    <div class="equip_content" @click="hideOverlay">
        <div class="header">
            <div class="title">
                {{configLanguage.left_equipManagement_long}}
            </div>
            <div class="filterWrap">
                <filter-component type="equip_manage"></filter-component>
            </div>
            <div class="ability">
                <div class="operationWrap" @click="goAlertList" v-text="configLanguage.equipmonitor_warningList"></div>

                <div @click="send_down" class="operationWrap permissionHidden" v-permission="{name:'批量设置'}" v-text="configLanguage.equipmonitor_listSet"></div>
                <!--修改设备功能改为在批量设置中实现-->
                <!--<div @click="showModify">修改设备</div>-->
                <div class="operationWrap permissionHidden" v-permission="{name:'设备管理'}" >{{configLanguage.environment_monitoring_environmentCompare}}
                    <div class="operation">
                        <ul>
                            <li v-for="equip in sel_equip_no_list" @click="cancelItem(equip)">
                                {{equip}}<Icon type="close" style="margin-left: 10px"></Icon>
                            </li>
                        </ul>
                        <i-button type="success" @click="startCompare">开始对比({{sel_equip_no_list.length}})</i-button>
                    </div>
                </div>
                <div @click="exportData" class="permissionHidden" v-permission="{name:'导出设备数据'}" v-text="configLanguage.equipmonitor_loadingData"></div>
                <div @click="showTopology" class="permissionHidden" v-permission="{name:'拓扑图'}" v-text="configLanguage.equipmonitor_topologyDiagram"></div>
                <div @click="addClass($event)" class="permissionHidden" v-permission="{name:'添加设备'}" v-text="configLanguage.equipmonitor_addEquip"></div>
                <!--v-permission="{name:'设备管理'}"-->
                <div class="operationWrap permissionHidden" v-permission="{name:'删除设备'}">{{configLanguage.equipmonitor_moreDoing}}
                    <ul class="operation">
                        <li @click="removeArr" class="permissionHidden" v-permission="{name:'删除设备'}">删除</li>
                    </ul>
                </div>
            </div>
            <Modal
                    :visible.sync="modalStatus"
                    title="下载数据"
                    @on-ok="ok"
                    @on-cancel="cancel"
                    :mask-closable="false">

                <div class="exportTimerContainer" style="height: 280px">
                    <!--:clearable="false" :options="timePickerOption" style="width: 300px" @on-change="changeTime" :value="timeArr" -->
                    <div class="setTaskName">
                        <span>任务名称</span><i-input :value="setTaskName" style="width: 300px" ></i-input>
                    </div>
                    <span>数据时段</span><Date-picker type="datetimerange" format="yyyy-MM-dd HH:mm" class="timePicker" :value="timeArr" placeholder="选择日期和时间" :clearable="false" :options="timePickerOption" style="width: 300px" @on-change="changeTime" placement="bottom-end" :editable="false" @on-clear="resetTime" @on-ok="requireData" @on-open-change="saveOldTime"></Date-picker>
                    <div class="longTime" v-show="longTime" style="width: 100%;position: absolute;left: 20%;color: red;display: none">下载时段较长，可能需要等待较长时间</div>
                    <div style="margin-top: 20px;position: relative">数据种类</div>
                    <div class="data-type" style="margin-top: 15px;width: 395px;position: absolute;top: 90px; right: 0;">
                        <Checkbox label="数据采集时间" class="moren" :disabled = "disabled" @on-change="changeEnglish('数据采集时间')" style="margin-right: 5px;">数据采集时间</Checkbox>
                        <Checkbox label="设备状态"  class="moren" :disabled = "disabled" @on-change="changeEnglish('设备状态')" style="margin-right: 5px;">设备状态</Checkbox>
                        <Checkbox label="数据传输时间" @on-change="changeEnglish('数据传输时间')" style="margin-right: 5px;">数据传输时间</Checkbox>
                        <Checkbox label="设备电压" @on-change="changeEnglish('设备电压')" style="margin-right: 5px;">设备电压</Checkbox>
                        <Checkbox label="设备位置" @on-change="changeEnglish('设备位置')" style="margin-right: 5px;">设备位置</Checkbox>
                        <br><br>
                        <Checkbox v-for="(item,index) in dataTypesSecond" @on-change="changeEnglish(index)"  :label = "index" style="margin-right: 10px;">{{index}}</Checkbox>
                       <!--<Checkbox-group :value = "dataTypesSecond">-->
                            <!--<Checkbox v-for="(item) in dataTypeAll" :label = "item">{{item}}</Checkbox>-->
                        <!--</Checkbox-group>-->
                    </div>
                </div>
            </Modal>
        </div>
        <div class="body">
            <div class="shadow"></div>
            <!--<div class="fliter_box permissionHidden" v-permission="{name:'设备管理'}">-->
                <!--<p>筛选条件 :-->
                    <!--<template v-for="(name,chooce) in conditions">-->
                        <!--<span v-for="key in chooce" class="filterItem" @click="removeChooce($index,name)">-->
                            <!--{{key}}<i class="removeBtn"></i>-->
                        <!--</span>-->
                    <!--</template>-->
                <!--</p>-->
            <!--</div>-->
            <table border="1px" class="table _content permissionHidden equipContentTh" v-permission="{name:'设备管理'}">
                <thead>
                <tr>
                    <td :class="{active:is_all_sel}" @click="selectAll"></td>
                    <!-- @mouseenter="statusShow('status',$event)" @mouseleave="statusClose('status')"-->
                    <td class="statusTd">
                        <span>状态</span>
                        <!--excessive 超标 fault 故障 low 低电 超低电 low_s standby 备用 disable 停用-->
                        <!--<Icon type="chevron-down" size="14"></Icon>-->
                        <!--<font></font>-->
                        <!--<div class="statusList" v-show="showHide.status" transition="change" @click="chooce($event,'status')">-->
                            <!--<div class="titleName">状态</div>-->
                            <!--<span class="status normal">正常</span>-->
                            <!--<span class="status fault">异常</span>-->
                            <!--<span class="status excessive">超标</span>-->
                            <!--<span class="status low_s">超低电</span>-->
                            <!--<span class="status low">低电</span>-->
                            <!--<span class="status standby">备用</span>-->
                            <!--<span class="status disable">停用</span>-->
                        <!--</div>-->
                    </td>
                    <!--@mouseleave="statusClose('components')"-->
                    <!--@mouseenter="statusShow('equip',$event)" @mouseleave="statusClose('equip')"-->
                    <td class="equipBox">
                        <span>设备ID | 设备名称</span>
                        <!--<Icon type="chevron-down" size="14"></Icon>-->
                        <!--<font></font>-->
                        <!--<div class="typeList active searchList" v-show="showHide.equip" transition="change" @click.stop>-->
                            <!--<div class="titleName">设备ID | 设备名称</div>-->
                            <!--<div class="searchContainer">-->
                                <!--<input type="text" v-model="equip_id" @keydown.enter="resetTurnPage" placeholder="输入设备ID或者名称查找" @blur="statusClose('equip')">-->
                            <!--</div>-->
                            <!--<div class="btnWrap">-->
                                <!--<span class="no" @click="statusAll('equip')">取消</span>-->
                                <!--<span class="ok" @click="resetTurnPage">确认</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    </td>
                    <!--@mouseenter="statusShow('loaction',$event)" @mouseleave="statusClose('loaction')"-->
                    <td class="locationBox">
                        <span>设备位置</span>
                        <!--<Icon type="chevron-down" size="14"></Icon>-->
                        <!--&lt;!&ndash;<font></font>&ndash;&gt;-->
                        <!--<div class="typeList active locationList" v-show="showHide.loaction" transition="change">-->
                            <!--<div class="titleName">设备位置</div>-->
                            <!--<div class="chooceWhere">-->
                                <!--<p v-show="environment.length>=2" class="title"><span v-for="arr in environment" @click="backTree(arr,$index)">{{arr.name}}</span></p>-->
                                <!--<p v-else class="title">选择环境</p>-->
                                <!--<div class="chooce" @click="chooce($event,'env_no')">-->
                                    <!--<span v-for="floor in filterContent" :class="floor.env_no">{{floor.name}} <span @click.stop="enterTree(floor.children,floor.name,floor.type)" v-if="floor.children&&floor.type!='展厅'&&floor.type!='库房'&&floor.type!='研究室'&&floor.type!='修复室'">></span></span>-->
                                    <!--&lt;!&ndash;&ndash;&gt;-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </td>
                    <!--@mouseenter="statusShow('type',$event)" @mouseleave="statusClose('type')"-->
                    <td class="statusTd">
                        <span>类型</span>
                        <!--<Icon type="chevron-down" size="14"></Icon>-->
                        <!--&lt;!&ndash;<font></font>&ndash;&gt;-->
                        <!--<div class="typeList right equipType" v-show="showHide.type" transition="change" @click="chooce($event,'equip_type')">-->
                            <!--<div class="titleName">类型</div>-->
                            <!--<div class="wrap_type">-->
                                <!--&lt;!&ndash;v-for="(key,typeObj) in equip_type"&ndash;&gt;-->
                                <!--<div v-if="equip_type.sensor&&equip_type.sensor.length!=0">-->
                                    <!--<span v-if="equip_type.sensor.indexOf('温湿度传感器')!=-1">温湿度传感器</span>-->
                                    <!--<span v-if="equip_type.sensor.indexOf('带屏温湿度传感器')!=-1">带屏温湿度传感器</span>-->
                                    <!--<span v-if="equip_type.sensor.indexOf('光照紫外传感器')!=-1">光照紫外传感器</span>-->
                                    <!--<span v-if="equip_type.sensor.indexOf('二氧化碳传感器')!=-1">二氧化碳传感器</span>-->
                                    <!--<span v-if="equip_type.sensor.indexOf('有机挥发物传感器')!=-1">有机挥发物传感器</span>-->
                                    <!--<span v-if="equip_type.sensor.indexOf('空气质量传感器')!=-1">空气质量传感器</span>-->
                                    <!--<span v-for="arr in equip_type.sensor" v-if="arr!='温湿度传感器'&&arr!='带屏温湿度传感器'&&arr!='光照紫外传感器'&&arr!='二氧化碳传感器'&&arr!='有机挥发物传感器'&&arr!='空气质量传感器'">{{arr}}</span>-->
                                <!--</div>-->
                                <!--<div v-if="equip_type.network&&equip_type.network.length!=0">-->
                                    <!--<span v-if="equip_type.network.indexOf('网关')!=-1">网关</span>-->
                                    <!--<span v-if="equip_type.network.indexOf('中继')!=-1">中继</span>-->
                                    <!--<span v-for="arr in equip_type.network" v-if="arr!='网关'&&arr!='中继'">{{arr}}</span>-->
                                <!--</div>-->
                                <!--<div v-if="equip_type.controller&&equip_type.controller.length!=0">-->
                                    <!--<span v-if="equip_type.controller.indexOf('调湿机')!=-1">调湿机</span>-->
                                    <!--<span v-if="equip_type.controller.indexOf('调湿剂')!=-1">调湿剂</span>-->
                                    <!--<span v-if="equip_type.controller.indexOf('充氮调湿柜')!=-1">充氮调湿柜</span>-->
                                    <!--<span v-for="arr in equip_type.controller" v-if="arr!='调湿机'&&arr!='调湿剂'&&arr!='充氮调湿柜'">{{arr}}</span>-->
                                <!--</div>-->
                                <!--<div v-if="equip_type.offline&&equip_type.offline.length!=0">-->
                                    <!--<span v-if="equip_type.offline.indexOf('离线温湿度检测仪')!=-1">离线温湿度检测仪</span>-->
                                    <!--<span v-if="equip_type.offline.indexOf('离线光照紫外检测仪')!=-1">离线光照紫外检测仪</span>-->
                                    <!--<span v-if="equip_type.offline.indexOf('离线二氧化碳检测仪')!=-1">离线二氧化碳检测仪</span>-->
                                    <!--<span v-if="equip_type.offline.indexOf('离线甲醛检测仪')!=-1">离线甲醛检测仪</span>-->
                                    <!--<span v-if="equip_type.offline.indexOf('离线有机挥发物检测仪')!=-1">离线有机挥发物检测仪</span>-->
                                    <!--<span v-for="arr in equip_type.offline" v-if="arr!='离线温湿度检测仪'&&arr!='离线光照紫外检测仪'&&arr!='离线二氧化碳检测仪'&&arr!='离线甲醛检测仪'&&arr!='离线有机挥发物检测仪'">{{arr}}</span>-->
                                <!--</div>-->
                                <!--<div v-if="equip_type.box&&equip_type.offline.length!=0">-->
                                    <!--<span v-if="equip_type.box.indexOf('智能囊匣传感器')!=-1">智能囊匣传感器</span>-->
                                    <!--<span v-for="arr in equip_type.box" v-if="arr!='智能囊匣传感器'">{{arr}}</span>-->
                                    <!--&lt;!&ndash;<hr/>&ndash;&gt;-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </td>
                    <td class="newData">
                        <span>最新数据</span>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr is="tr-content" v-for="tr in trList" :tr="tr" :index="$index" :sel_equip_no_count.sync="sel_equip_no_count" :sel_equip_no_list.sync="sel_equip_no_list" :page_size="limit"></tr>
                </tbody>
            </table>
        </div>
        <!--<iframe src="" name="show"  style="width:0;height:0"></iframe>-->
        <page-list class="permissionHidden" @turn-page="turnPage" :page.sync="page" :allPage="allPage" :count.sync="count" v-permission="{name:'设备管理'}"></page-list>
        <modify v-if="modifyKey" transition="alert" :key.sync="modifyKey" :tree-data="filterContent"></modify>
        <add-data v-if="addKey" transition="alert" :key.sync="addKey" :tree-data="filterContent"></add-data>
        <div v-show="addKey" class="fixedShadow"></div>
    </div>
</template>

<!-- table tr模板 -->
<template id="tr_content">
    <tr>
        <td :class="{active:sel_equip_no_list.indexOf(tr.equip_no)!=-1}" @click="selectChange(tr.equip_no)"></td>
        <td><span class="status" :class="statusChange(tr.status)" v-text="tr.status" :data-title="tr.time"></span></td>
        <td>
            <a class="hiddenContent" v-text="tr.equip_no+' | '+tr.name" v-link="'/equipManagement/equip_details/'+tr.equip_no" @click="saveEquipNo(tr.equip_no,tr.equip_type,tr.name)"></a>
        </td>
        <td>
            <div class="nav_map" v-show="mapStatus">
                <div class="view">
                    <!--<div class="point nav_icon" :data-title="nav_name"></div>-->
                    <Icon type="location" size="16" style="position: absolute;z-index:100" color="#1bbc9b"></Icon>
                    <img :src="urlPosition" alt="图片无法显示" :width="nav_width" :height="nav_height" id="nav_map"/>
                </div>
            </div>
            <Icon type="location"
                  size="16"
                  v-if="tr.locate&&tr.map"
                  style="position: relative"
                  @mouseenter.stop="show_position_nav_map($event,tr.locate,tr)"
                  @mouseleave="hide_position_nav_map"
            ></Icon>
            <!--<span class="nav_icon"-->
                  <!--v-if="tr.locate&&tr.map"-->
                  <!--@mouseenter.stop="show_position_nav_map($event,tr.locate,tr)"-->
                  <!--@mouseleave="hide_position_nav_map">-->
			<!--</span>-->
            <a class="hiddenContent" v-text="tr.nav?(setName(tr.nav)):''" @click="broEquip(tr.env_no,tr)"></a>
        </td>
        <td>
            <!--:class="nameChange(tr.equip_type)"-->
            <span :data-title="tr.equip_type" :class="['type',tr.equip_type]"></span>
        </td>

        <td class="data" @mouseenter="allShow($event)" @mouseleave="allHide($event)">
            <div class="arrow" v-if="mathLen(tr.new_data)">. . . </div>
            <div class="pathView">
                <div v-if="rule_out(tr.equip_type)">
                    <span v-for="(name,num) in tr.new_data|slice" :class="name" v-text="(num||'-')+unit(name)"></span>
                </div>
                <div v-else>
                    <span v-for="(name,num) in tr.new_data|slice" :class="name" v-text="nameChange(name)+((num==1)?'警报':'正常')"></span>
                </div>

                <div class="allView" :class="{'bottomKey':!keyCorners}" v-if="mathLen(tr.new_data)">
                    <p>
                        <Icon type="android-time" style="font-size: 20px;margin-right: 5px;"></Icon>
                        <i class="trTime" v-text="tr.time"></i>
                    </p>
                    <div v-if="rule_out(tr.equip_type)">
                        <span class="text-nowrap" v-for="(name,num) in tr.new_data" :class="name"><i></i>{{num||'-'}}{{unit(name)}}</span>
                    </div>
                    <div v-else class="Security_sensors">
                        <span v-for="(name,num) in tr.new_data" :class="name" v-text="nameChange(name)+((num==1)?'警报':'正常')"></span>
                    </div>
                </div>
            </div>
        </td>
    </tr>

</template>


<!-- 批量修改 模板 -->
<template id="modify">
    <div class="alertBox modifyData">
        <div class="shadow"></div>
        <header>
            批量修改
            <Icon type="close-round" size="20" class="close" @click="close"></Icon>
        </header>
        <section>
            <div class="localInfo">
                <div>
                    <h5>安装位置</h5>
                    <div class="which">
                        <p class="localName" v-text="localwhich"></p>
                    </div>
                    <div class="envTreeContainer">
                        <Tree :data="treeList" :show-checkbox="false" :multiple="false" track-by="$index" @on-select-change="changeLocal"></Tree>
                        <!--<div class="treeLoading">-->
                            <!--树型列表加载动画treeList-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="equipTypeStatus">
                <!--<div class="equipTypeInfo">-->
                    <!--<h5>类型信息</h5>-->
                    <!--<h6>数据发送间隔</h6>-->
                    <!--<p><input type="text"> 分 <input type="text"> 秒</p>-->
                <!--</div>-->
                <div class="statusInfo">
                    <h5>状态信息</h5>
                    <h6>设备状态</h6>
                    <select>
                        <option>备用</option>
                        <option>正常</option>
                    </select>
                </div>
            </div>
        </section>
        <footer>
            <div class="btnsContainer clear">
                <div class="over multipleModify">批量修改</div>
            </div>
        </footer>
    </div>
</template>

<!-- 添加设备 模板 -->
<template id="addData">
    <div class="alertBox addData">
        <header>
            添加设备
            <Icon type="close-round" size="20" class="close" @click="close"></Icon>
        </header>
        <section>
            <!--通讯信息-->
            <div class="communicationInfo">
                <div>
                    <h5>通讯信息</h5>
                    <h6>设备类型</h6>
                    <select v-model="addData.equip_type" @change="typeSelect">
                        <template v-for="(name,obj) in allEquip">
                            <option v-for="name in obj">{{name}}</option>
                        </template>
                    </select>
                    <h6>设备ID</h6>
                    <p class="equip_id">{{addData.id}}</p>
                    <h6>设备名称</h6>
                    <input type="text" v-model="addData.name">
                </div>
            </div>
            <!--安装位置-->
            <div class="localInfo">
                <div>
                    <h5>安装位置</h5>
                    <!-- @mouseenter="statusShow" @mouseleave="statusClose" -->
                    <div class="which">
                        <p class="localName" v-text="localwhich"></p>
                        <!--<div class="p" v-text="localwhich"></div>-->
                        <!--<div class="typeList" v-show="loaction" transition="change">-->
                            <!--<div class="chooceWhere">-->
                                <!--<p v-show="environment.length>=2" class="title"><span v-for="arr in environment" @click="backTree(arr,$index)">{{arr.name}}</span></p>-->
                                <!--<p v-else class="title">选择环境</p>-->
                                <!--<div class="chooce" @click="chooce($event)">-->
                                    <!--<span v-for="floor in filterContent" :class="floor.env_no">{{floor.name}} <span @click.stop="enterTree(floor.children,floor.name,floor.type)" v-if="floor.children">></span></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="envTreeContainer">
                        <Tree :data="treeList" :show-checkbox="false" :multiple="false" track-by="$index" @on-select-change="changeLocal"></Tree>
                        <!--<div class="treeLoading">-->
                            <!--&lt;!&ndash;树型列表加载动画treeList&ndash;&gt;-->
                        <!--</div>-->
                    </div>
                    <!--<div class="imgView"></div>-->
                </div>
            </div>
            <div class="equipTypeStatus">
                <div class="equipTypeInfo">
                    <h5>类型信息</h5>
                    <h6>数据发送间隔</h6>
                    <p><input type="text" v-model="addData.minute"> 分 <input type="text" v-model="addData.second"> 秒</p>
                </div>
                <div class="statusInfo">
                    <h5>状态信息</h5>
                    <h6>设备状态</h6>
                    <select v-model="addData.status">
                        <option>备用</option>
                        <option>正常</option>
                    </select>
                </div>
            </div>
        </section>
        <footer>
            <div class="btnsContainer clear">
                <div class="over continue" @click="continueOver">继续添加设备</div>
                <div class="over" @click="postOver">添加设备</div>
            </div>
        </footer>
    </div>
</template>

<!--带屏温湿度传感器-->

<template id="send_down_template">
    <Modal
            visible
            title="批量设置"
            :width="modal_width||900"
            :mask-closable="false"
            @on-cancel="cancel">
        <div style="position: absolute;right:40px;z-index:1;top:13px;  cursor: pointer;">
            <Icon size="24" :type="modal_width?'navicon':'drag'" data-title="切换弹出窗宽度，显示整个表数据"
                  @click="modal_width_toggle"></Icon>
        </div>
        <div style="position: absolute;right:21px;z-index:1;" v-if="tab_ley=='history_key'">
            <Checkbox :checked.sync="auto_load_history">自动(10s),<a href="javascript:void(0)" @click="get_history"
                                                                   data-title="立即刷新">立即刷新</a>
            </Checkbox>

        </div>
        <Tabs :animated="false" :active-key.sync="tab_ley" class="ivu-box">
            <Tab-pane label="批量下发" key="set_key">

                <i-form :model="formItem" :label-width="80" style="max-height:340px;overflow: scroll">

                    <Form-item label="设备列表" style="margin-bottom: 10px;">
                        <Row>
                            <i-col span="24" style="height: inherit;">
                                <i-select :model.sync="add_equips" @on-change="add_equip"
                                          filterable multiple placeholder="请选择要添加的设备编号">
                                    <i-option v-for="item in all_equips" :value="item.equip_no">
                                        {{ item.equip_no.slice(8) }}
                                    </i-option>
                                </i-select>
                            </i-col>
                        </Row>
                    </Form-item>
                    <Form-item label="参数设置" style="margin-bottom: 10px;">
                        <Row>
                            <i-col span="12">
                                <i-select :model.sync="instruct">
                                    <Option-group label="基本设置">
                                        <i-option value="01" selected>设置工作模式(0x01)</i-option>
                                        <i-option value="02">设置休眠周期(0x02)</i-option>
                                        <i-option value="03">设置系统时间(0x03)</i-option>
                                        <i-option value="04">设置设备编号(0x04)</i-option>
                                        <!--<i-option value="05">设置环境编号(0x05)</i-option>-->
                                    </Option-group>
                                    <Option-group label="调控设置">
                                        <i-option value="30">设置调控模式(0x30)</i-option>
                                        <i-option value="31">设置调控范围(0x31)</i-option>
                                        <i-option value="32">设置调控内部参数(0x32)</i-option>
                                    </Option-group>
                                    <Option-group label="标定">
                                        <i-option value="20">设备校正/设备标定(0x20)</i-option>
                                    </Option-group>
                                    <Option-group label="其他">
                                        <i-option value="12">设置频率波特率(0x12)</i-option>
										<i-option value="22">设置功能参数(0x22)</i-option>
                                        <!--<i-option value="86">读取工作参数(0x86)</i-option>-->
                                    </Option-group>
                                </i-select>
                            </i-col>
                            <i-col span="6" align="center">
                                <Checkbox :checked.sync="all_same">保持同步设备参数</Checkbox>
                            </i-col>
                        </Row>

                    </Form-item>
                    <Form-item label="参数值" style="margin-bottom: 10px;">

                        <send-down-param :instruct.sync="instruct" :all_same="all_same" :param="all_param"
                                         :show_20="true"></send-down-param>

                    </Form-item>
                    <Form-item label="下发方式" style="margin-bottom: 10px;">

                        <Radio-group :model.sync="send_type">
                            <Radio value="1">被动</Radio>
                            <Radio value="2">主动(立即群发)</Radio>
                        </Radio-group>

                    </Form-item>
                </i-form>
                <Row>
                    <i-table height="200" :columns="send_down_columns" :data="send_down_equip_data"
                             border :content="self" size="small"
                             @on-selection-change="selectionChange" keep-alive></i-table>
                </Row>
                <Row style="height:36px; margin-top:10px;">
                    <i-col span="24" align="center" style="height:36px;">
                        <i-button type="primary" size="large" @click="save">保存批量设置</i-button>
                    </i-col>
                </Row>

            </Tab-pane>
            <Tab-pane label="下发记录" key="history_key">
                <div style="max-height:260px;overflow: scroll">
                    <i-table :columns="send_history_columns" :data="send_history_data"
                             border highlight-row size="small">

                    </i-table>
                </div>
                <div style="padding-top: 10px;">
                    <Page :total="history_count" :current.sync="history_page" :page-size.sync="history_limit"
                          @on-change="get_history"
                          @on-page-size-change="get_history"
                          size="small"
                          show-sizer show-total></Page>
                </div>
            </Tab-pane>
            <Tab-pane label="修改设备" key="modify_equip">
                <div class="modifyContainer">
                    <Row>
                        <i-col span="8" class="leftContainer">
                            <header>
                                <h3>选取设备</h3>
                            </header>
                            <section>
                                <Alert v-if="!selEquipArr||selEquipArr.length===0" type="warning" show-icon>未勾选设备
                                </Alert>
                                <ul v-if="selEquipArr&&selEquipArr.length!==0" class="equipListContainer">
                                    <li v-for="equip in selEquipArr" class="equipNoList">
                                        {{equip}}
                                    </li>
                                </ul>
                            </section>
                        </i-col>
                        <i-col span="8" class="centerContainer">
                            <header>
                                <h3>安装位置</h3>
                            </header>
                            <section>
                                <p class="localName">
                                    {{modifyObj.localName?modifyObj.localName:'请选择安装位置'}}
                                </p>
                                <div class="envTreeContainer">
                                    <Tree :data="treeList" :show-checkbox="false" :multiple="false" track-by="$index"
                                          @on-select-change="changeLocal"></Tree>
                                </div>
                            </section>
                        </i-col>
                        <i-col span="8" class="rightContainer">
                            <header>
                                <h3>设备状态</h3>
                            </header>
                            <section>
                                <i-select :model.sync="modifyObj.status" style="width:100%">
                                    <i-option v-for="item in statusList" :value="item" :label="item">
                                        {{ item }}
                                        <Tooltip style="white-space: normal;" content="提示内容" v-if="item==='启用'">
                                            <div slot="content" style="white-space: normal;">
                                                设备启用之后，系统会根据条件自动标注设备状态为：正常、低电、异常
                                            </div>
                                            <Icon type="information-circled"></Icon>
                                        </Tooltip>
                                    </i-option>
                                </i-select>
                            </section>
                        </i-col>
                    </Row>
                </div>
                <footer class="btnsContainer">
                    <i-button shape="circle" type="ghost" @click="submitModify">确定修改</i-button>
                </footer>
            </Tab-pane>
        </Tabs>

        <div slot="footer">
            <i-button @click="cancel">关闭</i-button>
        </div>

    </Modal>
</template>


<template id="send_down_param">
    <div>
        <Row v-if="instruct=='01'">
            <i-col span="12" style="height: 32px">
                <i-select :model.sync="param.model">
                    <i-option value="休眠">休眠</i-option>
                    <i-option value="工作">工作</i-option>
                    <i-option value="校准">校准</i-option>
                </i-select>
            </i-col>
        </Row>

        <Row v-if="instruct=='02'">
            <i-col span="10" style="height: 32px;">
                <i-input style="width: 150px;" :value.sync="param.sleep_period"
                         :placeholder="param.unit=='hour'?'休眠周期为1~55':'休眠周期为1~100'" @on-change=""></i-input>
            </i-col>
            <i-col span="5" style="height: 32px;">
                <i-select :model.sync="param.unit">
                    <i-option value="second">秒</i-option>
                    <i-option value="minute">分钟</i-option>
                    <i-option value="hour">小时</i-option>
                </i-select>
            </i-col>
        </Row>

        <Row v-if="instruct=='03'">
            <i-col span="12" style="height: 32px;">
                下发时同步系统时间
            </i-col>
        </Row>

        <Row v-if="instruct=='04'">
            <i-col span="12" style="height: 32px;">
                <i-input :value.sync="param.equip_no" placeholder="编号为11位数字(不包含博物馆编号)"></i-input>
            </i-col>
        </Row>

        <Row v-if="instruct=='05'">
            <i-col span="12" style="height: 32px;">
                <i-input :value.sync="param.area_no" placeholder="编号为10~19位"></i-input>
            </i-col>
        </Row>

        <Row v-if="instruct=='30'">
            <i-col span="12" style="height: 32px;">
                <i-select :model.sync="param.c_model">
                    <i-option value="停止">停止</i-option>
                    <i-option value="启动">启动</i-option>
                </i-select>
            </i-col>
        </Row>
        <Row v-if="instruct=='31'">
            <i-col span="7" style="height: 32px;">
                <i-select :model.sync="param.control" style="width:100px;">
                    <i-option value="humidity">湿度</i-option>
                    <i-option value="temperature">温度</i-option>
                    <i-option value="lighting">灯光亮度</i-option>
                </i-select>
            </i-col>
            <i-col span="8" style="height: 32px;">
                <i-input :value.sync="param.min"
                         :placeholder="param.control=='humidity'?'调控值(30~70)': param.control=='lighting'?'调控值(0~100)':'调控值'"></i-input>
            </i-col>
            <i-col span="4" align="center" class="verticalMiddle" style="height: 32px;">
                单位:{{ param.control=='temperature'?'℃':'%' }}
            </i-col>
        </Row>
        <Row v-if="instruct=='32'">
            <i-col span="4" style="height: 32px;">
                <i-select :model.sync="param.control_inner" style="width:60px;">
                    <i-option value="humidity">湿度</i-option>
                    <i-option value="temperature">温度</i-option>
                </i-select>
            </i-col>
            <i-col span="6" style="height: 32px;">序号:
                <i-input :value.sync="param.c_order" placeholder="序号" style="width:60px;"></i-input>
            </i-col>
            <i-col span="9" style="height: 32px;">调控值:
                <i-input :value.sync="param.c_value" placeholder="调控值" style="width:100px;"></i-input>
            </i-col>
            <i-col span="4" class="verticalMiddle" style="height: 32px;">
                单位:{{ param.control_inner=='humidity'?'%':'℃' }}
            </i-col>
        </Row>
        <Row v-if="instruct=='20'">
            <i-col span="8" style="height: 32px;">
                <i-select :model.sync="param.correction" style="width: 100px;">
                    <i-option value="humidity">湿度</i-option>
                    <i-option value="temperature">温度</i-option>
                    <i-option value="voc">VOC</i-option>
                    <i-option value="co2">CO&#8322</i-option>
                    <i-option value="uv">紫外强度</i-option>
                    <i-option value="light">光照强度</i-option>
                    <i-option value="organic">有机污染物</i-option>
                    <i-option value="inorganic">无机污染物</i-option>
                    <i-option value="sulfur">硫化污染物</i-option>
                    <i-option value="soil_temperature">土壤温度</i-option>
                    <i-option value="soil_humidity">土壤含水率</i-option>
                    <i-option value="soil_conductivity">土壤电导率</i-option>
                </i-select>
            </i-col>
            <i-col span="16" style="height: 32px;">

                <i-input :value.sync="param.crt_value" placeholder="Xmin,Xmax,Ymin,Ymax"
                         style="width: 230px;">
                    <span slot="prepend">校正值:</span>
                </i-input>
            </i-col>
        </Row>
        <Row v-if="instruct=='20'&&show_20">
            <i-col style="height: 32px;">
                <label class="inline" style="font-size: 12px;color: #0000ff">
                    <span>*</span>校正值为1个或者4~10个，多个值以逗号间隔
                </label>
            </i-col>
        </Row>
		<Row v-if="instruct=='22'">
            <i-col span="8" style="height: 32px;">设置参数
                <i-select :model.sync="param.parameter" style="width: 100px;">
                    <i-option value="humidity">湿度</i-option>
                    <i-option value="temperature">温度</i-option>
                    <i-option value="voc">VOC</i-option>
                    <i-option value="co2">CO&#8322</i-option>
                    <i-option value="uv">紫外强度</i-option>
                    <i-option value="light">光照强度</i-option>
                    <i-option value="organic">有机污染物</i-option>
                    <i-option value="inorganic">无机污染物</i-option>
                    <i-option value="sulfur">硫化污染物</i-option>
                    <i-option value="soil_temperature">土壤温度</i-option>
                    <i-option value="soil_humidity">土壤含水率</i-option>
                    <i-option value="soil_conductivity">土壤电导率</i-option>
                </i-select>
            </i-col>
            <i-col span="8" style="height: 32px;">功能参数:
              <i-select :model.sync="param.func" style="width: 100px;">
                    <i-option value="清历史数据">清历史数据</i-option>
                    <i-option value="终端重启">终端重启</i-option>
                    <i-option value="进入标定流程">进入标定流程</i-option>
                    <i-option value="退出标定流程">退出标定流程</i-option>
                    <i-option value="发AD值">发AD值</i-option>
                    <i-option value="发ppb值">发ppb值</i-option>
                    <i-option value="发电压">发电压</i-option>
                    <i-option v-if="param.parameter=='humidity'" value="设置除湿目标值">设置除湿目标值</i-option>
                    <i-option value="修正值">修正值</i-option>
                    <i-option v-if="param.parameter=='humidity'" value="设置除湿时间">设置除湿时间</i-option>
                   </i-select>
            </i-col>
			<i-col span="4" style="height: 32px;" v-if="param.func=='修正值'||param.func=='设置除湿目标值'||param.func=='设置除湿时间'">
                <i-input :value.sync="param.set_value" placeholder="设定值"
                         style="width: 125px;" >
                    <span slot="prepend">设定值:</span>
                 </i-input>
            </i-col>
            <i-col span="4" style="height: 32px;" >
                <i-select :model.sync="param.set_unit" style="width: 80px" v-if="param.func=='设置除湿时间'">
                    <i-option value="second">秒</i-option>
                    <i-option value="minute">分钟</i-option>
                    <i-option value="hour">小时</i-option>
                </i-select>
            </i-col>
        </Row>
        <Row v-if="instruct=='12'">
            <i-col span="7" style="height: 32px;">频率:
                <i-select :model.sync="param.f_rate" style="width: 50px;">
                    <i-option value="0">0</i-option>
                    <i-option value="1">1</i-option>
                    <i-option value="2">2</i-option>
                    <i-option value="3">3</i-option>
                    <i-option value="4">4</i-option>
                </i-select>
            </i-col>
            <i-col span="17" style="height: 32px;">波特率:
                <i-select :model.sync="param.b_rate" style="width: 50px;">
                    <i-option value="0">0</i-option>
                    <i-option value="1">1</i-option>
                </i-select>
            </i-col>
        </Row>
        <Row v-if="instruct=='86'">
            <i-col span="6" style="height: 32px;">
                主动下发
            </i-col>
        </Row>
    </div>
</template>

<template id="table_send_down_param">
    <div>
        <Row v-if="instruct=='01'">
            <i-col span="12" style="height: 32px">
                <i-select :model.sync="model">
                    <i-option value="休眠">休眠</i-option>
                    <i-option value="工作">工作</i-option>
                    <i-option value="校准">校准</i-option>
                </i-select>
            </i-col>
        </Row>

        <Row v-if="instruct=='02'">
            <i-col span="10" style="height: 32px;">
                <i-input style="width: 150px;" :value.sync="sleep_period"
                         :placeholder="unit=='hour'?'休眠周期为1~55':'休眠周期为1~100'"></i-input>
            </i-col>
            <i-col span="5" style="height: 32px;">
                <i-select :model.sync="unit">
                    <i-option value="second">秒</i-option>
                    <i-option value="minute">分钟</i-option>
                    <i-option value="hour">小时</i-option>
                </i-select>
            </i-col>
        </Row>

        <Row v-if="instruct=='03'">
            <i-col span="12" style="height: 32px;line-height: 32px;">
                下发时同步系统时间
            </i-col>
        </Row>

        <Row v-if="instruct=='04'">
            <i-col span="12" style="height: 32px;">
                <i-input :value.sync="equip_no" placeholder="编号为11位数字(不包含博物馆编号)"></i-input>
            </i-col>
        </Row>

        <Row v-if="instruct=='05'">
            <i-col span="12" style="height: 32px;">
                <i-input :value.sync="area_no" placeholder="编号为10~19位"></i-input>
            </i-col>
        </Row>

        <Row v-if="instruct=='30'">
            <i-col span="12" style="height: 32px;">
                <i-select :model.sync="c_model">
                    <i-option value="停止">停止</i-option>
                    <i-option value="启动">启动</i-option>
                </i-select>
            </i-col>
        </Row>
        <Row v-if="instruct=='31'">
            <i-col span="7" style="height: 32px;">
                <i-select :model.sync="control" style="width:100px;">
                    <i-option value="humidity">湿度</i-option>
                    <i-option value="temperature">温度</i-option>
                    <i-option value="lighting">灯光亮度</i-option>
                </i-select>
            </i-col>
            <i-col span="8" style="height: 32px;">
                <i-input :value.sync="min"
                         :placeholder="control=='humidity'?'调控值(30~70)': param.control=='lighting'?'调控值(0~100)':'调控值'"></i-input>
            </i-col>
            <i-col span="4" align="center" class="verticalMiddle" style="height: 32px;">
                单位:{{ control=='temperature'?'℃':'%' }}
            </i-col>
        </Row>
        <Row v-if="instruct=='32'">
            <i-col span="4" style="height: 32px;">
                <i-select :model.sync="control_inner" style="width:60px;">
                    <i-option value="humidity">湿度</i-option>
                    <i-option value="temperature">温度</i-option>
                </i-select>
            </i-col>
            <i-col span="6" style="height: 32px;">序号:
                <i-input :value.sync="c_order" placeholder="序号" style="width:60px;"></i-input>
            </i-col>
            <i-col span="9" style="height: 32px;">调控值:
                <i-input :value.sync="c_value" placeholder="调控值" style="width:100px;"></i-input>
            </i-col>
            <i-col span="4" class="verticalMiddle" style="height: 32px;">
                单位:{{ control_inner=='humidity'?'%':'℃' }}
            </i-col>
        </Row>
        <Row v-if="instruct=='20'">
            <i-col span="8" style="height: 32px;">
                <i-select :model.sync="correction" style="width: 100px;">
                    <i-option value="humidity">湿度</i-option>
                    <i-option value="temperature">温度</i-option>
                    <i-option value="voc">VOC</i-option>
                    <i-option value="co2">CO&#8322</i-option>
                    <i-option value="uv">紫外强度</i-option>
                    <i-option value="light">光照强度</i-option>
                    <i-option value="organic">有机污染物</i-option>
                    <i-option value="inorganic">无机污染物</i-option>
                    <i-option value="sulfur">硫化污染物</i-option>
                    <i-option value="soil_temperature">土壤温度</i-option>
                    <i-option value="soil_humidity">土壤含水率</i-option>
                    <i-option value="soil_conductivity">土壤电导率</i-option>
                </i-select>
            </i-col>
            <i-col span="16" style="height: 33px;">

                <i-input :value.sync="crt_value" placeholder="Xmin,Xmax,Ymin,Ymax"
                         style="width: 230px;">
                    <span slot="prepend">校正值:</span>
                </i-input>
            </i-col>
        </Row>
        <Row v-if="instruct=='20'&&show_20">
            <i-col style="height: 32px;">
                <label class="inline" style="font-size: 12px;color: #0000ff">
                    <span>*</span>校正值为1个或者4~10个，多个值以逗号间隔
                </label>
            </i-col>
        </Row>
        <Row v-if="instruct=='12'">
            <i-col span="7" style="height: 32px;">频率:
                <i-select :model.sync="f_rate" style="width: 50px;">
                    <i-option value="0">0</i-option>
                    <i-option value="1">1</i-option>
                    <i-option value="2">2</i-option>
                    <i-option value="3">3</i-option>
                    <i-option value="4">4</i-option>
                </i-select>
            </i-col>
            <i-col span="17" style="height: 32px;">波特率:
                <i-select :model.sync="b_rate" style="width: 50px;">
                    <i-option value="0">0</i-option>
                    <i-option value="1">1</i-option>
                </i-select>
            </i-col>
        </Row>
        <Row v-if="instruct=='86'">
            <i-col span="6" style="height: 32px;">
                主动下发
            </i-col>
        </Row>
    </div>
</template>

